<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="../../../assets/img/logo-200.png" height="35">
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info"><img src="assets/img/dream-diver.png" alt="dream diver" />
    <p style="text-align: center; ">This app is a product of <span style="font-weight:600;">"Dream Diver"</span> Company<br>
      Westerbeekstraat 10B, 3074 DH Rotterdam
      <br>Netherlands
      <br>contact@dreamdiver.nl
      <br>www.dreamdiver.nl
    </p>
    <p style="text-align: center;"></p>
    <p style="text-align: center; font-weight:600;margin-bottom: 0em;">Current Version</p>
    <p class="versionNumber" style="text-align: center; margin-top: 0em;">0.0.2</p>
  </div>
</ion-content>